@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,html {
	font-family: 'Montserrat', sans-serif;
}

.site {
	padding-top:100px;
}

h2.search {
	font-weight: bold;
	font-size: 24px;
}

h2.search label {
	position:relative;
}
h2.search label:after {
	content:"";
	height:3px;
	background-color:#2656b9;
	width:100%;
	position:absolute;
	left:0px;
	bottom:0px;
}

.search-item .shield {
	background-color: #5dc86e;
	color: white;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding: 4px;
	border-radius: 0px 0px 4px 4px;
}

.search-item img {
	border-radius: 4px 4px 0px 0px;
	width:100%;
}

.search-item .btn {
	font-size: 16px;
	background-color: #2656b9;
	font-weight: lighter;
	padding:4px;
}
.search-item label {
	font-size: 16px;
	font-weight: 700;
}

.overflow {
	position:absolute;
	right:0px;
	top:0px;
}

.overflow.dfc , .overflow .dfc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.overflow .back {
	width:165px;
	height:165px;
	background: radial-gradient(50% 50% at 50% 50%, #2360BB 0%, #2754B9 100%);
	box-shadow: -7px 7px 23px -3px rgba(0, 0, 0, 0.17);
	border-radius: 0px 0px 0px 165px
}
.overflow .back .front1 {
	width:84px;
	height:84px;
	background: rgba(255, 255, 255, 0.23);
	border-radius: 50%;
	margin-right:-40px;
	margin-top:-40px;
}

.overflow .back .front2 {
	width:60px;
	height:60px;
	background: rgba(255, 255, 255, 0.23);
	border-radius: 50%;
}

.overflow .back .front3 {
	width:40px;
	height:40px;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
}

.cop {
	position: fixed;
	font-weight: 300;
	font-size: 21px;
	z-index: 100;
	text-align: center;
	padding: 25.6px;
	bottom: 0px;
	color: rgba(255, 255, 255, 0.81);
}

.background.f , .background .ff, .background {
	display: flex;
	align-items: center;
    justify-content: center;
}

.background {
	position: absolute;
	z-index: 100;
	min-width: 100%;
	min-height: 100%;
	background: linear-gradient(114.85deg, #2360BB 0%, #2360BB 23.44%, #451EB7 50%, #1A6CBA 100%);
}

.background .back {

}

.background .front1 {
	width:124px;
	height:124px;
	background: rgba(255, 255, 255, 0.23);
	border-radius: 50%;
	animation: pulse-ai-o  1s infinite ease-in-out;
}

.background .front2 {
	width:90px;
	height:90px;
	
	background: rgba(255, 255, 255, 0.23);
	border-radius: 50%;
	animation: pulse-ai-t  2s infinite ease-in-out;
}

.background .front3 {
	width:60px;
	height:60px;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	animation: pulse-ai-th  3s infinite ease-in-out;
}

.background .vopros {
	width: 346px;
	height: 76px;
	font-weight: 300;
	font-size: 34px;
	margin-left: 37px;
	color: rgba(255, 255, 255, 0.81);
}

.background .wrapper {
	width: 164px;
	height: 164px;
}


@keyframes pulse-ai-o {
from {
	width: 124px;
    height: 124px;
}
50% {
	width: 164px;
    height: 164px;
}
to {width: 124px;
    height: 124px;}
}

@keyframes pulse-ai-t {
from {
	width: 90px;
    height: 90px;
}
50% {
	width: 120px;
    height: 120px;
}
to {width: 90px;
    height: 90px;}
}

@keyframes pulse-ai-th {
from {
	width: 40px;
    height: 40px;
}
50% {
	width: 90px;
    height: 90px;
}
to {width: 40px;
    height: 40px;}
}

